* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #808080;
    text-shadow: 1px 1px 5px rgba(128, 128, 128, 0.8);
}

body {
    background-image: url("../images/background.png");
    background-size: 23vh;
}

nav {
    height: 100vh;
    width: 100vw;
}

/* ========== NAV ========== */

nav > .about {
    height: 20vh;
    width: 35vw;
    line-height: 20vh;
    margin: auto;
}

.about:hover {
    background: url("../images/about.png") no-repeat center;
    background-size: contain;
}

nav > .portfolio {
    height: 20vh;
    width: 35vw;
    line-height: 20vh;
    float: left;
}

.portfolio:hover {
    background: url("../images/portfolio.png") no-repeat center;
    background-size: contain;
}

nav > .home {
    height: 20vh;
    width: 30vw;
    float: left;
    background: url("../images/logo.png") no-repeat center;
    background-size: 20vh;
}

nav > .contact {
    height: 20vh;
    width: 35vw;
    line-height: 20vh;
    float: left;
}

.contact:hover {
    background: url("../images/contact.png") no-repeat center;
    background-size: contain;
}

/* ========== CONTENT ========== */

nav > .main {
    height: 60vh;
    width: 100vw;
    clear: both;
}

.main > #intro {
    max-width: 80vw;
    margin: auto;
    line-height: 60vh;
}

.main > #content {
    max-width: 80vw;
    margin: 10vh auto;
    text-align: justify;
}

.home-bg {
    background: url("../images/FrederickAcorda.png") no-repeat center;
    background-size: contain;
}

.about-bg {
    background: url("../images/about-bg.png") no-repeat center;
    background-size: contain;
}

.portfolio-bg {
    background: url("../images/portfolio-bg.png") no-repeat center;
    background-size: contain;
}

.contact-bg {
    background: url("../images/contact-bg.png") no-repeat center;
    background-size: contain;
}