/* ========== global ========== */

* {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font: 400 .9em/175% 'Lato', sans-serif;
    color: #a9a9a9;
    word-spacing: 0.3em;
    text-decoration: none;
}

body {
    background: url("../images/background.png") fixed;
    background-size: 24vh;
    height: 100vh;
    width: 100vw;
}

.container {
    max-width: 80vw;
    margin: auto;
}

.whitespace {
    height: 15vh;
    width: 100vw;
}

/* ========== nav ========== */

nav {
    height: 15vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
}

.nav-scroll {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 50px 0 rgba(0, 0, 0, 0.3);
}

.home,
.about,
.work,
.contact {
    display: inline-block;
    cursor: pointer;
    margin: 0 2vw;
    line-height: 15vh;
    color: #a9a9a9;
}

.home {
    background: url("../images/FAIcon.svg") no-repeat center;
    background-size: contain;
    color: rgba(128, 128, 128, 0);
}

.active {
    color: #ffc0cb;
}

/* ========== content ========== */

.content {
    position: relative;
}

.logo {
    background: url("../images/LandscapeLogo.svg") no-repeat center;
    background-size: contain;
    height: 55vh;
    width: 100vw;
}

.intro p {
    height: 5vh;
    width: 100vw;
    line-height: 5vh;
    font-size: 1.2em;
    color: #a9a9a9;
}

.intro .hire-me {
    height: 25vh;
    width: 60vw;
    margin: 0 auto;
    background: url("../images/BuildTogether.svg") no-repeat center;
    background-size: contain;
    cursor: pointer;
}

/* ========== about ========== */

#about > .who {
    margin: 5vh auto;
    height: 20vh;
    background: url("../images/Mabuhay.svg") no-repeat center;
    background-size: contain;
}

#about img {
    width: 200px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 15px 1px rgba(128, 128, 128, 0.8);
    -moz-box-shadow: 0 0 15px 1px rgba(128, 128, 128, 0.8);
    box-shadow: 0 0 15px 1px rgba(128, 128, 128, 0.8);
    margin-bottom: 10vh;
}

#about p {
    max-width: 650px;
    margin: auto;
    font-size: 1.2em;
}

#about p:last-child {
    margin-bottom: 20vh;
}

/* ========== work ========== */

#work > .portfolio {
    margin: 5vh auto;
    height: 20vh;
    background: url("../images/InProgress.svg") no-repeat center;
    background-size: contain;
}

#projects {
    max-width: 650px;
    margin: auto;
}

#projects br {
    clear: both;
    /* height: 10vh; */
}

#projects .project-info {
    width: 50%;
    float: left;
}

#projects h1 {
    margin: 0 auto 2vh;
    text-align: center;
    font-size: 1.5em;
    color: #ffc0cb;
}

#projects p {
    width: 250px;
    margin: auto;
    font-size: 1.3em;
}

#projects i {
    margin: 2vh;
}

#projects .project-logo {
    height: 200px;
    width: 50%;
    float: right;
    margin-bottom: 10vh;
}

.hack-jack .project-logo {
    background: url("../images/screenshot.png") no-repeat center;
    background-size: contain;
}

/* ========== contact ========== */

#contact > .connect {
    margin: 5vh auto;
    height: 20vh;
    background: url("../images/ConnectWithMe.svg") no-repeat center;
    background-size: contain;
}

.contacts {
    max-width: 650px;
    margin: auto;
}

.contacts > .profiles {
    width: 50%;
    float: left;
    margin-bottom: 10vh;
}

.profiles p {
    text-align: center;
    font-size: 1.3em;
    line-height: 250%;
}

i {
    color: #add8e6;
}

.contacts > .resume {
    width: 50%;
    float: right;
    margin-bottom: 10vh;
}

.resume img {
    height: 13vh;
    cursor: pointer;
}

/* ========== media queries ========== */
@media (max-width: 1024px) {

    .logo {
        background: url("../images/PortraitLogo.svg") no-repeat center;
        background-size: contain;
        height: 50vh;
        width: 100vw;
        float: none;
    }

    .contacts > .profiles,
    .contacts > .resume,
    #projects .project-info,
    #projects .project-logo {
        float: none;
        width: 100%;
    }

    #projects p {
        max-width: 319px;
    }

    .contacts {
        max-width: 100vw;
        margin: 0;
    }

}